@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    /* Cores */
    --detalhes: #db5b00;
    --detalhes_hover: #FF7A1A;
    --textos: #6b6b6c;
    --textos_hover: white;
    --fundo: #2E2E2E;
    --fundo_detalhes: #262626;

    --fonte_principal: "Space Grotesk", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte_principal);
    outline: 1px dotted lime;
}

a {
    text-decoration: none;
    color: var(--textos_hover);
    font-size: bold;
}

header {
    padding: 0.3rem 1.5rem;
    position: relative;
    /*box-shadow: 0px 3px 6px rgba(55, 58, 42, 0.2);*/
    background-color: var(--fundo);
}

.menu_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
} 

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.logo img {
    width: 50px;
    height: auto;
    filter: drop-shadow(1px 0 0 #fff) 
          drop-shadow(-1px 0 0 #fff) 
          drop-shadow(0 1px 0 #fff) 
          drop-shadow(0 -1px 0 #fff);
}

.logo_texto img{
    width: 150px;
    height: auto;
}

.logo:hover {
    filter: drop-shadow(1px 0 0 var(--detalhes_hover)) 
          drop-shadow(-1px 0 0 var(--detalhes_hover)) 
          drop-shadow(0 1px 0 var(--detalhes_hover)) 
          drop-shadow(0 -1px 0 var(--detalhes_hover));
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icone_menu {
    display: block;
}

.icone_fechar {
    display: none;
}

.menu-toggle.ativo .icone_menu {
    display: none;
}

.menu-toggle.ativo .icone_fechar {
    display: block;
}

.menu_header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
}

.lista_header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
    gap: 38px;
    transition: color 0.3s ease;
    z-index: 1;
}

.lista_header a {
    color: var(--textos);
}

.lista_header a:hover {
    color: var(--textos_hover);
    text-shadow: 1px 1px 5px var(--detalhes_hover);
    font-weight: 700;
}

.lista_header a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--detalhes_hover);
    transition: width 0.2s;
}

.lista_header a:hover::after {
    width: 100%;
}




.botao {
    display: inline-flex;
    padding: 0.5rem 2rem;
    background-color: var(--detalhes);
    border-radius: 15px;
    font-size: 18px;
    font-weight: 700;
    transition: background-color 0.3s ease,
                box-shadow 0.3s ease,
                transform 0.2s ease;
    z-index: 2;
}

.botao:hover {
    background: var(--detalhes_hover);
    box-shadow: 0 0 10px var(--detalhes_hover);
    transform: translateY(-2px);
}

.botao--secundario {
    background: 
        rgba(255, 255, 255, .05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, .08);
}

.botao--secundario:hover {
    color: var(--textos_hover);
    background-color: var(--fundo_detalhes);
    border: 1px solid var(--detalhes_hover);
    box-shadow: 0 0 10px var(--detalhes_hover);
}



/* --------------------------------------------- */

footer {
    display: flex;
    padding: 0.2rem 1.5rem;
    background: var(--fundo);
}

.footer_content {
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_logo {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer_logo img {
    width: 50px;
    height: auto;
    filter: drop-shadow(1px 0 0 #fff) 
          drop-shadow(-1px 0 0 #fff) 
          drop-shadow(0 1px 0 #fff) 
          drop-shadow(0 -1px 0 #fff);
}

.logo_footer .logo_texto {
    width: 150px;
    justify-content: center;
}

.footer_logo .slogan{
    font-size: 18px;
    color: var(--textos_hover);
    text-shadow: 1px 1px var(--textos);
}

#menu_footer {
    display: flex;
    flex-direction: column;
    color: var(--textos_hover);
    justify-content: center;
}

.lista_footer {
    transform: translateX(-50%);
    list-style: none;
    font-size: 18px;
    color: var(--textos);
    transition: color 0.3s ease;
}

.lista_footer a {
    color: var(--textos);
}

.lista_footer a:hover {
    color: var(--textos_hover);
}

.conectar {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 12px;
    color: var(--textos_hover);
}

.conectar h3 {
    margin-bottom: 12px;
}

.botoes {
    display: flex;
    padding: 0 0 10px;
    gap: 20px;
}

.botoes a {
    padding: 13px 16px;
    border-radius: 5px;
    background-color: #161616;
    font-size: 20px;
    text-align: center;
    transition: background-color 0.3s ease,
                color 0.3s ease; 
    color: #ffffff;
}

.botoes a:hover{
    background-color: var(--detalhes_hover);
    color: var(--fundo)
}

#footer_direitos {
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: var(--textos);
    padding: 20px;
}

@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .menu_header {
        display: none;
        position: absolute;
        background-color: var(--fundo);
        top: 60px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 1rem 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); 
    }

    .menu_header.aberto {
        display: flex;
    }
    
    .lista_header {
        position: static;
        transform: none;
        left: auto;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .botao_header {
        display: block;
        visibility: visible;
        opacity: 1;
    }

    .botao_header .botao {
        display: inline-block;
        text-align: center;
    }

    .lista_footer {
        display: none;
    }
}


