@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    /* Cores */
    --detalhes: #db5b00;
    --detalhes_hover: #FF7A1A;
    --textos: #6b6b6c;
    --textos_hover: white;
    --fundo: #2E2E2E;
    --fundo_detalhes: #262626;

    --fonte_principal: "Space Grotesk", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte_principal);
   /* outline: 1px dotted lime;*/
}

a {
    text-decoration: none;
    color: var(--textos_hover);
    font-size: bold;
}

header {
    padding: 0.3rem 1.5rem;
    position: relative;
    /*box-shadow: 0px 3px 6px rgba(55, 58, 42, 0.2);*/
    background-color: var(--fundo);
}

.menu_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
} 

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.logo img {
    width: 50px;
    height: auto;
    filter: drop-shadow(1px 0 0 #fff) 
          drop-shadow(-1px 0 0 #fff) 
          drop-shadow(0 1px 0 #fff) 
          drop-shadow(0 -1px 0 #fff);
}

.logo_texto img{
    width: 150px;
    height: auto;
}

.logo:hover {
    filter: drop-shadow(1px 0 0 var(--detalhes_hover)) 
          drop-shadow(-1px 0 0 var(--detalhes_hover)) 
          drop-shadow(0 1px 0 var(--detalhes_hover)) 
          drop-shadow(0 -1px 0 var(--detalhes_hover));
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icone_menu {
    display: block;
}

.icone_fechar {
    display: none;
}

.menu-toggle.ativo .icone_menu {
    display: none;
}

.menu-toggle.ativo .icone_fechar {
    display: block;
}

.menu_header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
}

.lista_header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
    gap: 38px;
    transition: color 0.3s ease;
    z-index: 1;
}

.lista a {
    color: var(--textos);
}

.lista a:hover {
    color: var(--textos_hover);
    font-weight: 700;
}


.botao {
    display: inline-flex;
    padding: 0.7rem 2rem;
    background-color: var(--detalhes);
    border-radius: 15px;
    font-size: 18px;
    font-weight: 700;
    transition: background-color 0.3s ease,
                box-shadow 0.3s ease,
                transform 0.2s ease;
    z-index: 2;
}

.botao:hover {
    background-color: var(--detalhes_hover);
    box-shadow: 0 0 10px var(--detalhes_hover);
    transform: translateY(-2px);
}

.botao--secundario {
    background-color: rgba(46, 46, 46, 0.5);
    border: 1px solid var(--fundo);
}

.botao--secundario:hover {
    color: var(--textos_hover);
    background-color: var(--fundo_detalhes);
    border: 1px solid var(--detalhes_hover);
    box-shadow: 0 0 10px var(--detalhes_hover);
}



/* --------------------------------------------- */

footer {
    padding: 0.2rem 1.5rem;
    background-color: var(--fundo);
}

.footer_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.footer_logo {
    width: 50%;
    display: flex;
}

.img_frame {
    display: flex;
}

#footer_logo_img {
    width: 45px;
    filter: drop-shadow(1px 0 0 #fff) 
          drop-shadow(-1px 0 0 #fff) 
          drop-shadow(0 1px 0 #fff)
}

.word_frame {
    display: flex;
    align-items: end;
}

.word_frame img {
    width: 110px;
    filter: drop-shadow(1px 0 0 #fff) 
          drop-shadow(-1px 0 0 #fff) 
          drop-shadow(0 1px 0 #fff)
}

#menu_footer {
    width: 50%;
    padding: 0px 10px;
    display: flex;
    justify-content: end;
}

#menu_footer ul {
    gap: 10px;
}

.lista_footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
    gap: 38px;
    transition: color 0.3s ease;
    z-index: 1;
}

#menu_footer a {
    font-size: 14px;
}

#footer_direitos {
    width: 100%;
    text-align: center;
    color: white;
}

@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .menu_header {
        display: none;
        position: absolute;
        background-color: var(--fundo);
        top: 60px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 1rem 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); 
    }

    .menu_header.aberto {
        display: flex;
    }
    
    .lista_header {
        position: static;
        transform: none;
        left: auto;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .botao_header {
        display: block;
        visibility: visible;
        opacity: 1;
    }

    .botao_header .botao {
        display: inline-block;
        text-align: center;
    }

    .lista_footer {
        display: none;
    }
}


